/* ------ */
/* SETUP  */
/* ------ */

/* title and nav bar */
#rectangle{
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height:175px;
    background:#FFFBF5;
    z-index: 998;
}

.top {
    position: fixed;
    left:75px;
    top:0px;
    width: 100%;
    height: 135px;
    margin-top: 75px;
    /* margin-bottom: 25px; */
    /* margin-left: 15px; */
    z-index: 999;
    background-color: #FFFBF5;
    box-shadow: 0px 0px 20px 20px #FFFBF5;
}

/* body text  */
html body {
    padding-top: 200px;
}

body {
    background-color: #FFFBF5;
    padding-top: 100px;
    padding:50px;
    font: 26px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color:#272424;
    font-weight:300; 
    width: 600px;
}

p, ol, table, pre, dl {
    position: relative;
    font-weight: 50;
    line-height: 1;
    margin: 5 0 5;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    /*margin-right: 500px;*/
    text-align: justify;
    font-size: 18px;
    display: inline-block;
    width: 600px
}



/* -------- */
/* HEADINGS  */
/* -------- */

h1, h2, h3, h4, h5, h6, h7, h8 {
    color: #1b1818;
    line-height:1;
    margin: 0 0 0 0px;
}
  
h1 {
    margin-bottom: 15px;
}
  
  h2, h3, h4, h5 {
    font-weight: 500;
    line-height: 0.9;
    margin-left: 0px;
  }

h4 {
    margin-bottom: 0px;
}
  
  h5 {
    margin-bottom: 0px;
  }
  
h6 {
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 20px;
}

h7 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15px;
}

h8 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 15px;
    margin-bottom: 15px;
}
  
  /* ----- */
  /* LISTS */
  /* ----- */
  
  ul {
    list-style-type: none;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 30px;
    line-height: 1;
    font-size: 16px;
    width: 500px;
  }
  
  li {
      margin: 10px 0;
  }
  
  /* ----- */
  /* LINKS */
  /* ----- */
  
  /* background color (dark grey): #1f1f1f, 
     text color (mid gryy): #c2c2c2, 
     link color (light grey): #dbdbdb, 
     hover color (teal): #177378 */
  
  /* general links */
  
  a.general:link, a.general:visited {
    color: #0366a3;
    font-weight: 500;
    text-decoration: none;
  }
  
  a.general:hover {
    color: #0366a3;
    font-weight: 500;
    text-decoration: none;
    text-decoration-thickness: 0px;
    text-decoration-color: #0366a3;
  }


/* ----------- */
/* TOP NAV BAR */
/* ----------- */

  .topnav {
    background-color: #FFFBF5;
    overflow: hidden;
    z-index: 999;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #0366a3;
    text-align: left;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    top: 1000px;
  }

  .topnav a:hover {
    color: #272424;
  }


  
  /* ---- */
  /* MISC */
  /* ---- */


  
  div#top {
    position: fixed;
    margin-left: 10px;
    margin-top: 10px;
    /*top: 0;*/
    /*left: 0;*/
    z-index: 999;
    width: 100%;
    height: 130px;
    /* background-color: #1f1f1f; */
    /* box-shadow: 0px 0px 20px 20px rgba(31,31,31,1); */
  }
  
  div#body {
    margin-top: 190px;
  }
  
  div#upperborder {
    position: fixed;
    margin-top: -100px;
    width: 100%;
    height: 130px;
    background-color: #1f1f1f;
  }
  
  r {
    font-weight: 5;
    line-height: 1;
    margin: 5 0 5;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    /*margin-right: 500px;*/
    text-align: justify;
    font-size: 5px;
    display: inline-block;
    width: 600px
  }
  
  .inline-img {
    display: inline;
    margin: 0 0.01em;
    padding: 0;
    vertical-align: middle;
    opacity: 0.6;
    width: 25px;
  }
